<html>
  <head>
    <title>Backbone Dashboard</title>
    <link rel="stylesheet" href="/style/main.css">
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/underscore.js"></script>
    <script type="text/javascript" src="/scripts/backbone.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>App</h1>
    <%= yield %>
  </body>

</html>
